*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*index*/

body{
    font-family: sans-serif;
    color: whitesmoke;
}

a{
    text-decoration: none;
    color: grey;
}

.titulo{
    font-weight: bold;
}

h1{
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0;
    line-height: 1.2;
}

h2{
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;
}

p{
    font-size: 25px;
}

img{
    width: 100%;
}

li{
    list-style-type: none;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    overflow: visible;
}

.navbar{
    background-color: #1F6E8C;
    height: 70px;
    padding: 0 30;
}

.navbar h1{
    font-size: 30px;
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;
}

.navbar .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul{
    display: flex;
}

.navbar a{
    color: white;
    padding:10px;
    margin: 0 10px;
}

.navbar a:hover {
    color: lightgreen;
    border-bottom: 3px solid lightgreen;
  }

/*.contenido{
   display: flex;
   justify-content: right;
   align-items: center;
   gap:10px;

}*/

/*section proncipal*/

.imagen {
    padding: 10px;
    height: 400px;
    width: 1350px;
}

.container3{
    position: relative;
    display: inline-block;
    text-align: center;
}

.text1{
    position: absolute;
    top: 150px;
    right: 30px;
    font-size: 30px;
    font: Arial, Helvetica, sans-serif;
    font-weight: bolder;
   
}
.text2{
    position: absolute;
    top: 230px;
    right: 30px;
    font-size: 25px;
    font: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

.container2{
    width:100%;
    /*min-height: 100vh0;*/
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 10px;
}

.contenido-cards{
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
}
.contenido-cards .card{
    /*flex:content;*/
    margin:10px 10px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,2);
}

.contenido-cards .card img{
    width:100%;
    height: 150px;

}

.contenido-cards .card h3{
    margin: 15px 0px;
    font-size:14px;
    color: grey;
}
.contenido-cards .card p{
    font-size:12px;
    line-height: 1.5px;
    padding:0px 10px;
    margin-bottom:20px;
}
                                                                                                                                                                                                                                                                                                                                            
/*footer*/

footer{
    background-color: #1F6E8C;
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
}

footer a {
    color: whitesmoke;
    margin:0 10px;

    
}
.redessociales{
    padding: 10px;
    gap: 1.625rem;
    width: 50px;
    display: flex;
}


 
/*formulario de contacto*/

form{
    width:350px;
    margin:auto;
    background:rgba(5, 39, 93, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

h4{
    color:#1F6E8C;
    text-align:center;
    margin: 0;
    font-size: 25px;
    margin-bottom:20px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 14px;
    border: none;
}

textarea{
    min-height: 100px;
    max-height:200px;
    max-width:100%;
}
#boton{
    background: #55b175;
    color:whitesmoke;
    padding:20px;

}

#boton:hover{
    cursor:pointer;

}




/*pagina clientes*/

.clientes a{
    text-align: center;
    font-size: 20px;
    color:#0E2954;
    background-color:#c1daea;
    align-items: center;
 }


/*pagina servicios*/


/*se reciclan cards*/




/*pagina empresa*/

.miempresa {
    color: black;
    padding: 40px;
  }

.miempresa img {
    height: 100%;
    clip-path: circle;
  }

.miempresa{
    text-align:center;
}

.personas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }


.card1 {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2),
                 7px  7px 20px rgba(0, 0, 0, 0.2)
  }

.foto {
    background-color: transparent;
    border:3px solid grey;
    height:90px;
    position: relative;
    top: -30px;
    left: 120px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:90px;
}


@media (max-width:1024px){
    header{
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
        font-size: 14px;
    }

}

@media (max-width:768px){
   
    header{
       flex-direction: column;
       align-items: center;
       gap: 1.25rem;

        }
    nav{
        padding: 10px;
    }
    .contenido{
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: bottom;
        }
    .contenido-cards{
        flex-direction:column;
    }
    .pie-de-pagina .pie1{
        width:90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding:35px 0px;

    }

 
}

@media (max-width:475px) /*mejorar media query*/
{
    header{
        flex-direction:row;
        align-items: center;

    }
    navbar li a{
        font-size: 1.4375rem;
    }
    .pie-de-pagina .pie1{
        width:75%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:20px;
        padding:25px 0px;

    }

    form{
        width:100%;
    }
 
}

@media(max-width:375){

    header{
        flex-direction: column;
    }
    .pie-de-pagina .pie1{
        width:60%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:20px;
        padding:25px 0px;

    }
    form{
        width:100%;
    }
}

@media(max-width:320){
    header{
        flex-direction: column;
    }
    .pie-de-pagina .pie1{
        width:50%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:10px;
        padding:15px 0px;

    }
    form{
        width:100%;
    }
}